body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.BInfo {
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.BInfoFacts {
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ProjectButton {
  min-height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.BNavHelpContainer {
  align-items: center;
  text-align: center;
  margin-top: 80px;
  font-family : inherit;
}

.btn {
  border: 1px solid #3499db;
  background: none;
  padding: 10px 20px;
  font-size: 20px;
  font-family : inherit;
  cursor: pointer;
}

button:active { background-color: SteelBlue; color: White; }
